.sidebar {
    float: left;
    width: 18%;  
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
    position: fixed;
    text-align: justify;
}

.sidebar content{
    text-align: justify;
}

.sidebar h1{
    text-align: center;
}

header {
    margin-left: 20.7%;
    position: fixed;
    height: 100px;
    width: 78%;
    background-color: ;
    text-align: center;
}

.content_wrapper {
   position: static;

   float: right;
   width: 79%;  


   background-color: #D7D3C8;
}

body {
   font-family: sans-serif;
   font-size: 1.09em; 
}

.embed	{
		background-color: 	#FFFFFF;
		box-shadow: 		0px 2px 4px rgba(0, 0, 0,0.25);
		border-top:		20px;
		border-radius:		5px;
		color:			grey;
		float:			left;
		font-family:		'Open Sans Light','Open Sans',sans-serif;
		font-size:		14px;
		height:			333px;
		line-height:		20px;
		margin:			20px;
		overflow:		hidden;
		padding-top:		10px;
		padding-left: 		20px;
		padding-right:		20px;
		padding-bottom:		10px;
		position:		relative;
		text-align:		justify;
		width:			400px;
}

.tool-name {
		background-color:	#737164;
}
